<h1 align="center">New Blog</h1>


<%= render 'form', blog: @blog %>


<%# if @blog.errors.any? %>
  <%# @blog.errors.full_messages.each do |msg| %>
<!--    <ul>-->
<!--      <li><%#= msg %></li>-->
  <%# end %>
<!--  </ul>-->

<%# end %>
<%= link_to 'Back', blogs_path %>
