<div class = "container">
  <footer class = "footer">
    <small>
      Copyright &copy; <a href="#">Blog App Website</a>
      by John Baclay
    </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </nav>
  </footer>
</div>